@charset "utf-8";
.list{
    padding-top: 1em;
}
details{
    padding: 1em 1em 1em 1em;
}
/*豆の画像差し替え*/
details[open] .open{
    display: none;
}
details:not([open]) .close{
    display: none;
}
/* 要素のレイアウト */
summary{
    border-radius: 5px;
    background-color:wheat;
    border: solid 1px gray;
    padding-top: 1em;
    display: block;/* アイコンを消す */
}
summary:hover{
    cursor: pointer;/*カーソルが指マークになる*/
}
.element{
    padding-bottom: 1em;
    display: flex;
}
div.element img{
    vertical-align:middle
}
div.element p{
    font-size: 3em;
}
div.content{
    font-size:2em;
    margin: 1em 0 2em;
    padding: 0 2em 0 3em;
}
p.cost{
    padding-top: 1em;
    font-size:0.8em;
    text-align: right;
}