.list{
    padding-top: 1em;
}
details{
    padding: 1em 1em 1em 1em;
}
details[open] .open{
    display: none;
}
details:not([open]) .close{
    display: none;
}
p.content{
    margin: 2em 0 2em;
    padding: 0 5em 0 5em;
    font-size:2em;
}
summary{
    border-radius: 5px;
    background-color:wheat;
    border: solid 1px gray;
    padding-top: 1em;
    display: block;/* アイコンを消す */
}
summary:hover{
    cursor: pointer;/*カーソルが指マークになる*/
}
.element{
    padding-bottom: 1em;
    display: flex;
}
.element img{
    vertical-align:middle
}
.element p{
    font-size: 3em;
}
summary:before{
}
summary:after{   
    width: 1em;
    height: 1em;
}