@charset "utf-8";
/*ヘッダーのデザイン調整*/
header{
    width: 100%;
    background-size: contain;
    background: whitesmoke;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,25);
}
.headerbox1{
    display: flex;
    justify-content: space-around;
    height: 5em;
}
.logo{
    position: absolute;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 70%;
    height: auto;
    vertical-align: middle;
}  
.mailform{
    position: absolute;
    right: 0;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0.8em;
    color: #000;
    text-decoration: none;
    background-color:  #00A5BF;
    border-radius: 20px;
    vertical-align: middle;
}
@media (min-width: 992px){
    header{
        height: 220px;
    }
    .adjust{
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    .mailform{
    font-size: 1.2em;
    }
    .line{
        width: 3px;
        height: 80px;
    }
    .headerbox1{
    padding-bottom: 1vw;
    }
}
@media (max-width: 992px){
    header{
        height: 300px;
    }
    .mailform{
    font-size: 2.0em;
    }
    .adjust{
        text-decoration: none;
        color: black;
        font-size: 24px;
    }
    .line{
        width: 1px;
        height: 150px;
    }
    .headerbox1{
    padding-bottom: 4vw;
    }
}
.mailform:hover{
	opacity: 0.5;
}
.headerbox2{
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
}
header ul{
    display:flex;
    justify-content: center;
    list-style: none;
    flex-wrap: nowrap;
    margin: 0 auto;
    z-index: 2;
}
header li{
    height: 1em;
    display: inline-block;
    position: relative;
    width: 15%;
    text-align: center;
}
header li img{
    width: 100%;
    max-width: 70px;
}
.rotate:hover{
    opacity: 0.6;
}
header li p{
    text-align: center;
}
.line{
    margin: 0 0.1rem;
    background-color: #000;
}