@charset "utf-8";
* {
    margin:0; padding:0;
  }
body{
    background-color: beige;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(12px);
    background-size: cover;
}
header{
    width: 100%;
    z-index: 10;
    background: whitesmoke;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,25);
}
.logo{
    margin-top: 10px;
    margin-left: 30px;
}  
/*ヘッダーのデザイン調整*/
.adjust{
    text-decoration: none;
    color: black;
    font-size: large;
    font-size: 2em;
}
li{
    margin: 1em;
}
ul{
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 2;
}
ul li{
    display: inline-block;
    padding: 0 0.5em 0 0;
}
h2{
    padding-left: 1em;
    font-family: myfont;
    margin :20px;
    font-size: 3em;
    color: black;
    border-bottom: 2px solid #00A5BF;
} 
iframe{
    width: 90%;
    max-width: 1000px;
    padding: 0 40px 0 40px;
}
.menu{
    margin :20px;
    font-size: 2em;
    /* text-shadow: 0em 0em 0.1em  black; */
    color: black;
}
table{
    padding-left: 2em;
    width: 60%;
}
th{
    font-size: 2em;
    width: 200px;
    height: 50px;
    padding-top: 20px;
}
td{
    font-size: 2em;
    width: 500px;
    height: 50px;
    padding-top: 20px;
}
.text{
    font-family:serif;
    font-size: 2em;
    margin-left: 150px;
}
.sns{
    padding-left: 2em;
}
.snsicon{
    padding: 50px;
    float: left;
    margin-left: 2em;
    margin-bottom: 2em;
}
.return{
    font-size: 30px;
    color: #00A4AC;
}