@charset "utf-8";
* {
    margin:0; padding:0;
  }
body{
    background-color: beige;
}
h2{
    padding-left: 1em;
    font-family: myfont;
    margin :20px;
    font-size: 3em;
    color: black;
    border-bottom: 2px solid #00A5BF;
} 
iframe{
    width: 90%;
    max-width: 1000px;
    padding: 0 40px 0 40px;
}
.menu{
    margin :20px;
    font-size: 2em;
    /* text-shadow: 0em 0em 0.1em  black; */
    color: black;
}
table{
    margin: 1em;
    max-width: 1000px;
    border: 1px solid black;
    width: 90%;
}
.info li{
    margin: 1em;
}
.info ul{
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 2;
}
.info ul li{
    display: inline-block;
    padding: 0 0.5em 0 0;
}
tr:nth-child(even){
    background-color:rgba(0, 165, 191, 0.5) ;
}
th{
    border: 1px solid black;
    font-size: 2em;
    width: 150px;
    height: 50px;
}
td{
    border: 1px solid black;
    font-size: 2em;
    width: 500px;
    height: 50px;
    padding: 10px;
}
.text{
    font-family:serif;
    font-size: 2em;
    margin-left: 150px;
}
.sns{
    padding-left: 2em;
}
.snsicon{
    padding: 50px;
    float: left;
    margin-left: 2em;
    margin-bottom: 2em;
}
.return{
    font-size: 30px;
    color: #00A4AC;
}
