@charset "utf-8";
* {
    margin:0; padding:0;
  }
body{
    background-color: beige;
}
header{
    width: 100%;
    z-index: 10;
    background: whitesmoke;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,25);
}
ul{
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 2;
}
ul li{
    display: inline-block;
    padding: 10px 30px 20px 10px;
}
h2{
    text-align: left;
    margin: 20px;
    padding: 10px;
    font-family:serif;
    font-size: 50px;
    text-shadow: 0px 1px 1px black;
}
a{
    text-decoration: none;
    font-size: 30px;
}
img{
    border-radius: 90px;
    margin :20px;
}
.text{
    color: black;
}
.menu{
    font-size: 2em;
    text-shadow: 0em 0em 0.1em  black;
    color: black;
    border-bottom: 2px solid #00A5BF;
}
p{
    font-family:serif;
    margin: 10;
    padding: 100;
}
bean{
    padding: 20px;
    border: 1px solid bisque;
    background: beige;
}
.text{
    padding-left: 2em;
}
