@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
}
header{
    position: relative;
    width: 100%;
    z-index: 10;
    background: whitesmoke;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,25);
}
h1{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-family:serif;
    font-size: 60px;
    border-top: solid 3px #00A4AC ;
    border-bottom: solid 3px #00A4AC;
    text-shadow: 0px 1px 1px black;
}
h3{ 
    flex-grow: 1;
    display: flexbox;
    padding: 20px;
    font-family:serif;
    margin: 30px;
    border-radius: 10px;
    background-color:wheat;
    border: solid 3px black;
}
ul{
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 2;
}
ul li{
    display: inline-block;
    padding: 20px 10px 20px 10px;
}
/*リンクの色*/
a {
    color: #00A4AC;
    font-size: large;
}
.flex{
    display: flex;
}
/*画像の角を丸くする*/
.beancup{
    border-radius: 90px;
}
p{
    margin: 10px;
}
